@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 1s;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    width: 100%;
    background: linear-gradient(315deg, rgba(115, 59, 132, 0.08) 0%, rgba(193, 153, 217, 0.26) 29%, rgba(64, 178, 196, 0.4) 64%, rgba(135, 208, 219, 0.71) 84%, rgba(23, 187, 212, 0.52) 100%);
    text-align: center;
  }
  
  nav div {
    font-size: 50px;
    font-family: "Libre Bodoni";
    font-weight: bold;
    color: #402F42;
    padding: 40px 0;
  }