.box {
    background: linear-gradient(315deg, rgba(115, 59, 132, 0.08) 0%, rgba(193, 153, 217, 0.26) 29%, rgba(64, 178, 196, 0.4) 64%, rgba(135, 208, 219, 0.71) 84%, rgba(23, 187, 212, 0.52) 100%);
    opacity: 1;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header>li{
    display: inline-block;
}

.header>li:first-child{
    width: 49px;
    height: 62px;
}

.header li>.src1 {
    width: 100%;
}

.src1 {
    margin-top: 10px;
}

.src2 {
    margin-top: 10px;
}

.header>li:last-child {
    width: 56px;
    height: 61px;
}

.header li>.src2 {
    width: 100%;
}

.heading {
    width: 443px;
    height: 100px;
    margin: 0 auto;
}

.heading>img {
    width: 100%;
    height: 100%;
}

/* main body section */
.main{
    display: flex;
    justify-content: center;
    margin-top: 81px;
}

.main-left>span{
    display: block;
}

.main-left span:nth-child(1) {
    width: 715px;
    height: 232px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #402F42;
    opacity: 1;
    text-align: center;
}

.main-left span:nth-child(2) {
    width: 622px;
    height: 47px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 0px;
    color: #402F42;
    opacity: 1;
    margin-top: 48px;
    text-align: center;
}

.main-box {
    width: 296px;
    height: 79px;
    background: linear-gradient(180deg, rgba(23, 187, 213, 0.19) 0%, #53A8B5 100%);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
    opacity: 0.79;
    border-radius: 21px;
    margin-top: 48px;
    margin-left: 55.17%;
    text-align: center;
}

.main-box span {
    width: 157px;
    height: 40px;
    font-size: 34px !important;
    font-family: Bodoni 72;
    font-weight: bold;
    line-height: 79px;
    color: #402F42;
    opacity: 1;
    
}

.main-right {
    width: 560px;
    height: 633px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    border-radius: 35px;
}

.main-right img {
    width: 560px;
    height: 633px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    border-radius: 35px;
}

/* best selling book section */
.book-shift-title{
    display: block;
    width: 503px;
    height: 57px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #402F42;
    opacity: 1;
    margin-top: 7.83%;
    margin-left: 40.80%;
    margin-bottom: 27px;
}
.book-shifting{
    display: flex;
    justify-content: center;
    margin: auto;
}
.book-shifting div:nth-child(1){
    width: 156px;
    height: 238px;
    border-radius: 15px;
}
.book-shifting div:nth-child(1) img {
    width: 48px;
    height: 45px;
    border-radius: 20px;
    margin-top: 110px;
}

.book-shifting div:nth-child(2) {
    width: 155px;
    height: 238px;
    border-radius: 15px;
    margin-right: 65px;
}

.book-shifting div:nth-child(2) span {
    width: 200px;
    height: 22px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    white-space: nowrap;
}

.book-shifting div:nth-child(3) {
    width: 155px;
    height: 238px;
    border-radius: 15px;
    margin-right: 45px;
}

.book-shifting div:nth-child(3) span {
    width: 194px;
    height: 22px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -20px;
    font-weight: bold;
    white-space: nowrap;
}

.book-shifting div:nth-child(4) {
    width: 156px;
    height: 238px;
    border-radius: 15px;
    margin-right: 65px;
}

.book-shifting div:nth-child(4) span {
    width: 166px;
    height: 22px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    white-space: nowrap;
}

.book-shifting div:nth-child(5) {
    width: 155px;
    height: 238px;
    border-radius: 15px;
    margin-right: 45px;
}

.book-shifting div:nth-child(5) span {
    width: 194px;
    height: 22px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -20px;
    white-space: nowrap;
}

.book-shifting div:nth-child(6) {
    width: 155px;
    height: 238px;
    border-radius: 15px;
    margin-right: 65px;
}

.book-shifting div:nth-child(6) span {
    width: 166px;
    height: 22px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    white-space: nowrap;
}

.book-shifting div:nth-child(7) {
    width: 156px;
    height: 238px;
    border-radius: 15px;
}

.book-shifting div:nth-child(7) img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 205px;
    margin-top: 110px;
}

.book-shifting>div>img {
    width: 100%;
    height: 100%;
}
/* author section */
.author-shift-title {
    display: block;
    width: 503px;
    height: 57px;
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #402F42;
    opacity: 1;
    margin-top: 7.38%;
    margin-left: 40.80%;
    margin-bottom: 2.09%;
}

.author-shifting {
    display: flex;
    justify-content: center;
    margin: auto;
}

.author-shifting div:nth-child(1) {
    width: 156px;
    height: 238px;
    border-radius: 15px;
    margin-left: -80px;
}

.author-shifting div:nth-child(1) img {
    width: 48px;
    height: 45px;
    border-radius: 20px;
    margin-top: 53px;
}

.author-shifting div:nth-child(2) {
    width: 148px;
    height: 151px;
    opacity: 1;
    margin-right: 54px;
}

.author-shifting div:nth-child(2) span {
    display: block;
    width: 145px;
    height: 36px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 46px;
    opacity: 1;
    white-space: nowrap;
}

.author-shifting div:nth-child(3) {
    width: 151px;
    height: 151px;
    border-radius: 50%;
    opacity: 1;
    margin-right: 60px;
}

.author-shifting div:nth-child(3) span {
    display: block;
    width: 145px;
    height: 36px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 46px;
    opacity: 1;
    white-space: nowrap;
}

.author-shifting div:nth-child(4) {
    width: 147px;
    height: 151px;
    border-radius: 50%;
    opacity: 1;
    margin-right: 56px;
}

.author-shifting div:nth-child(4) span {
    display: block;
    width: 145px;
    height: 36px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 46px;
    opacity: 1;
    white-space: nowrap;
    margin-left: -15px;
}

.author-shifting div:nth-child(5) {
    width: 148px;
    height: 151px;
    border-radius: 50%;
    opacity: 1;
    margin-right: 54px;
}

.author-shifting div:nth-child(5) span {
    display: block;
    width: 145px;
    height: 36px;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 46px;
    opacity: 1;
    white-space: nowrap;
}

.author-shifting div:nth-child(6) {
    width: 151px;
    height: 151px;
    border-radius: 50%;
    opacity: 1;
    margin-right: 60px;
}

.author-shifting div:nth-child(6) span {
    display: block;
    width: 145px;
    height: 36px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 46px;
    opacity: 1;
    white-space: nowrap;
}

.author-shifting div:nth-child(7) {
    width: 147px;
    height: 151px;
    border-radius: 50%;
    opacity: 1;
}

.author-shifting div:nth-child(7) span {
    display: block;
    width: 145px;
    height: 36px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 46px;
    opacity: 1;
    white-space: nowrap;
}

.author-shifting div:nth-child(8) {
    width: 156px;
    height: 238px;
    border-radius: 15px;
}

.author-shiftingdiv:nth-child(8) img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-left: 114px;
    margin-top: 53px;
}

.author-shifting>div>img {
    width: 100%;
    height: 100%;
}

/* footer */
.ending{
    width: 146px;
    height: 40px;
    font-size: 34px;
    font-family: Bodoni 72;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 135px;
    white-space: nowrap;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 27px;
    /* margin: 0 auto; */
}

.footer div:nth-child(1) {
    width: 68px;
    height: 68px;
    border-radius: 12px;
    margin-right: 45px;
}

.footer div:nth-child(2) {
    width: 103px;
    height: 58px;
    border-radius: 46px;
    margin-right: 31px;
}

.footer div:nth-child(3) {
    width: 74px;
    height: 68px;
    border-radius: 14px;
}

.footer div img {
    width: 100%;
    height: 100%;
}

.footer div:nth-child(1) img {
    width: 68px;
    height: 68px;
    border-radius: 12px;
}

.footer div:nth-child(2) img {
    width: 103px;
    height: 58px;
    border-radius: 46px;
}

.footer div:nth-child(3) img {
    width: 68px;
    height: 68px;
    border-radius: 12px;
}

.footer div:nth-child(1) span {
    width: 63px;
    height: 21px;
    font-size: 17px;
    font-family: Bodoni 72;
    font-weight: bold;
    white-space: nowrap;
}

.footer div:nth-child(2) span {
    display: block;
    width: 63px;
    height: 21px;
    font-size: 17px;
    font-family: Bodoni 72;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 17px;
}

.footer div:nth-child(3) span {
    width: 63px;
    height: 21px;
    font-size: 17px;
    font-family: Bodoni 72;
    font-weight: bold;
    white-space: nowrap;
}

.phone {
    width: 146px;
    height: 40px;
    font-size: 19px;
    font-family: Bodoni 72;
    /* font-weight: bold; */
    margin-left: 45%;
    margin-top: 35px;
    white-space: nowrap;
}

.address {
    width: 146px;
    height: 40px;
    font-size: 19px;
    font-family: Bodoni 72;
    /* font-weight: bold; */
    margin-left: 37%;
    white-space: nowrap;
}