* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s;
}


/* abbv explainations */
.d-flex {
  display: flex;
}

.d-js-b {
  justify-content: space-between;
}

.d-ai-c {
  align-items: center;
}

.nav {
  width: 100%;
  background: linear-gradient(315deg, #F2D3FC 0%, #EEDDF8 36%, #B3F3FD 60%, #B7F1FA 79%, #98E9F5 100%);
}

.nav .nav-top {
  margin: 0 auto;
  width: 92%;
  display: flex;
  align-items: center;
  padding-top: 2%;
  justify-content: space-between;
}

.nav .nav-top .nav-t-1 {
  display: flex;
  opacity: 0.54;
  flex: 1 0 50px;
}

.nav .nav-top .nav-t-1 img {
  width: 43px;
  height: 43px;
}

.nav .nav-top .nav-t-2 {
  flex: 1 0 60%;
  display: flex;
  justify-content: center;
}

.nav .nav-top .nav-t-2 div img {
  width: 100%;
}

.nav .nav-top .nav-t-3 {
  display: flex;
  justify-content: space-around;
  flex: 1 0 0%;
}

.nav .nav-top .nav-t-3 div {
  display: flex;
}

.nav .nav-top .nav-t-3 div img:first-child {
  width: 100%;
  margin-right: 50%;
}

.nav .nav-top .nav-t-3 div img:last-child {
  width: 100%;
  cursor: pointer;
}

.nav .nav-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav .searching-input {
  margin-top: 22px;
  width: 41%;
  height: 62px;
  background-color: #FCF5F5;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  opacity: 0.79;
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  overflow: hidden;
}

.nav .searching-input img {
  width: 39px;
  height: 38px;
  opacity: 1;
  border-radius: 0px;
  margin: 0 2.5%;
}

.nav .searching-input input {
  background-color: #FCF5F5;
  outline-style: none;
  width: 100%;
  font-size: 27px;
  font-family: Arial;
  font-weight: bold;
  line-height: 0px;
  color: #402F42;
  opacity: 0.5;
  border: 0;
}


/* main body section */
.header-l {
  width: 21%;
  background-color: #FCF5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
}

header {
  display: flex;
}

/* left */
.header-l div:first-child {
  width: 246px;
  margin-top: 15%;
  font-size: 50px;
  font-weight: bold;
  line-height: 0px;
  color: #402F42;
  box-shadow: none !important;
}



.header-l div:nth-child(3) {
  width: 160px;
  height: 60px;
  background: linear-gradient(180deg, rgba(23, 187, 213, 0.19) 0%, #53A8B5 100%);
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.16);
  opacity: 0.79;
  font-size: 30px;
  line-height: 37px;
  font-weight: bold;
}

.header-l div {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  opacity: 1;
  background: #FCF5F5;
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.16);
  opacity: 0.79;
  border-radius: 35px;
  padding: 10px;
  font-family: Arial;
}

/* right */
.header-r {
  width: 80%;
  background-color: #fff;
  padding-top: 20px;
}

.h-title {
  margin-top: 10px;
  display: flex;
}

.h-t-bigBox {
  display: flex;
}

.h-title-p {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
}

.nav-select {
  display: none;
  font-family: Arial;
}

.h-title div:nth-child(1) {
  padding: 5px 15px;
  width: 200px;
}

.filter {
  background: #FCF5F5;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  opacity: 0.79;
  border-radius: 21px;
  padding: 0px 10px;
  margin: 20px 20px;
}

.filter .h-t-s1 {
  display: none;
}

.h-title-3 {
  padding: 0px 5px;
}

.h-title-2 span {
  margin: 0 5px;
  text-align: center;
}

.h-title-2 div,
.h-title-3 div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* book listing */
.h-r-body {
  width: 100%;
  font-family: Arial;
}

.h-r-Big-box {
  flex-wrap: wrap;
  justify-content: space-around;
  color: #402F42;
  font-weight: bold;
}

.h-r-box {
  width: 200px;
  height: 350px;
  text-align: center;
  margin: 0 60px 100px 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.h-r-box p:nth-of-type(2) {
  margin: 10px 0;
}

/* pages */
.down-pages {
  width: 158px;
  color: #402F42;
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

.down-pages span:nth-child(1) {
  border-bottom: 1px solid #402F42;
}

.down-pages img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

/* footer */
.foot {
  color: #402F42;
  width: 590px;
  margin: 5% auto;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
}

.foot .foot-p1 {
  font-size: 30px;
  font-weight: bold;
}

.foot-box-p {
  margin-top: 10px;
}

.foot .foot-box {
  text-align: center;
}

.foot .foot-box div {
  margin: 10px;
}

.foot-p2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
}

.foot-p3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width:1400px) {
  .nav-t-3 div img:first-child {
    display: none;
  }

  .header-r {
    margin: 0 auto;
  }

  .header-l {
    display: none !important;
  }
}

@media screen and (max-width:1200px) {
  .nav-select {
    display: block;
    width: 100%;
  }

  .nav-select div {
    width: 80%;
    margin: 0 auto;
  }

  .nav-select div select {
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    font-size: 27px;
    background: #17BBD5 ;
    box-shadow: 5px 5px 6px rgb(0 0 0 / 16%);
    opacity: 0.79;
    border-radius: 40px;
    padding: 20px 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../img/top_arrow.png");
    background-repeat: no-repeat;
    background-position: 63% 12px;
    background-size: 50px 50px;
  }

  .nav .searching-input {
    width: 80%;
  }

  .h-title-p {
    font-size: 30px !important;
  }

  .d-none {
    display: none;
  }
}


@media screen and (max-width:1000px) {
  .nav .searching-input input {
    font-size: 20px !important;
  }

  .nav-t-3 img {
    width: 80% !important;
  }

  .nav-t-2 img {
    width: 80% !important;

  }

  .nav-t-1 img {
    width: 40% !important;
    height: 40% !important;
  }

  .h-r-b img {
    width: 20%;
  }

  /* .nav-t-2 {
    text-align: center;
  } */

  .h-title {
    display: block;
    text-align: center;
  }


  .h-t-s1 {
    display: block !important;
  }

  .h-t-s2 {
    display: none !important;
  }

  .h-r-body {
    margin-top: 40px;
  }

  .filter {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }


  .filter1 {
    padding: 10px 0;
    width: 200px;
  }

  .filter1 img {
    width: 20%;
  }

  .filter2 {
    width: 160px;
  }

  .filter3 {
    width: 200px;
  }
}

@media screen and (max-width:800px) {
  .down-pages {
    font-size: 20px;
  }

  .down-pages img {
    width: 10px;
    height: 10px;
  }

  .h-r-box {
    transition: all 1s;
    margin: 0 10px 100px 10px;
  }

  .foot {
    width: 100% !important;
  }

  .foot-p2 {
    font-size: 13px;
  }

  .foot-p3 {
    font-size: 13px;
    font-weight: 400;
  }

  .box_b {
    width: 200px;
    height: 50px;
    font-size: 13px;
  }

  .foot-box {
    padding: 1%;
  }

  .foot-box p {
    font-size: 15px;
  }

  .foot-box img {
    width: 70%;
  }
}

@media screen and (max-width:600px) {
  .filter1 {
    width: 160px;
  }

  .filter2 img {
    width: 20%;
  }

  .filter2 {
    width: 160px;
  }

  .filter3 {
    font-size: 16px;
    width: 200px;
  }

  .h-title-p {
    margin: 10px 0;
    font-size: 25px !important;
  }

  .nav-select div select {
    background-position: 65% 12px;
    background-size: 40px 40px;
    font-size: 20px;
  }

  .foot {
    width: 100% !important;
  }

  .foot-p2 {
    font-size: 13px;
  }

  .foot-p3 {
    font-size: 13px;
    font-weight: 400;
  }

  .box_b {
    width: 200px;
    height: 50px;
    font-size: 13px;
  }

  .foot-box {
    padding: 1%;
  }

  .foot-box p {
    font-size: 15px;
  }

  .foot-box img {
    width: 70%;
  }
}